<% content_for :title, "Usuarios" %>

<div class="form-container">
  <h1>Usuarios</h1>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <div id="usuarios-lista">
    <% @usuarios.each do |usuario| %>
      <div class="usuario-card">
        <%= render usuario %>
        <p class="usuario-actions">
          <%= link_to "Show this usuario", usuario, class: "btn btn-view" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= link_to "New usuario", new_usuario_path, class: "btn btn-new" %>
  </div>
</div>
